<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>

<% if @counter > 5 %>
  <span>This page was accessed by you <%= pluralize @counter, "time"  %></span>
<% end %>

<h1>Your Pragmatic Catalog </h1>

<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <li>
          <%= image_tag(product.image_url) %>
          <h2><%= product.title %></h2>
          <p>
            <%= sanitize(product.description) %>
          </p>
          <div class="price">
            <%= number_to_currency(product.price) %>

            <%#
              button to is going to create a form, with method="POST" the  
              action="/line_items?product_id=..."

              button_tp default HTTP method is POST 
            %>
            <span class="add-to-cart">
              <%= button_to 'Add to Cart',
                line_items_path(product_id: product.id),
                remote: true 
              %>
            </span>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
